:root {
    --primary: hsl(32, 98%, 56%);
    --secondary: hsl(0, 0%, 0%);
    --accent: hsl(120, 1%, 14%);
    --grey-med: hsl(222, 10%, 74%);
    --grey-lt: hsl(222, 10%, 84%);
    --font-base: 'Space Mono', monospace;
    --font-display: 'Teko', sans-serif;
}

html,
body {
    background: repeating-linear-gradient(135deg,
        var(--accent),
        var(--accent) 1px,
        var(--secondary) 2px,
        var(--secondary) 10px);
    color: var(--primary);
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
}

h1, h2, h3, h4, h5, p, #role {
    padding: 0 16px;
    background-color: var(--secondary); 
}

h1 {
    margin-bottom: 10px;
    border-top: 1px solid var(--accent);
}

h2 {
    margin-bottom: 20px;
    border-top: 1px solid var(--accent);
}

h3 {
    margin: 0 0 10px;
    border-top: 1px solid var(--accent);
}

h4 {
    font-weight: 400;
    margin: 0 0;
    border-top: 1px solid var(--accent);
}

h5 {
    margin: 0 0 10px;
}

p {
    font-size: 12px;
    margin: 0 0 40px;
    border-top: 1px solid var(--accent);
}

a {
    color: var(--primary);
}

ul {
    list-style: circle;
    background-color: var(--secondary);
    border-top: 1px solid var(--accent);
}

#role {
    font-size: 20px;
    border-top: 1px solid var(--accent);
}

.content {
    max-width: 940px;
}

.hero {
    display: grid; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: 1fr; 
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    align-items: center;
}

.profileImage {
    width: 150px;
    border-radius: 50%;
    border: 20px solid var(--secondary);
    margin-top: -20px;
}

.jobs, .skills {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr auto; 
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding-bottom: 40px;
}

.education {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr auto; 
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding-bottom: 40px;
}

.contact {
    padding-bottom: 40px;
}