:root {
    --primary: hsl(29, 87%, 56%);
    --secondary: hsl(29, 100%, 11%);
    --accent: hsl(29, 100%, 25%);
    --grey-med: hsl(222, 10%, 74%);
    --grey-lt: hsl(222, 10%, 84%);
    --font-base: 'Merriweather', serif;
    --font-base-sans: 'Merriweather Sans', sans-serif;
    --font-display: 'Bebas Neue', serif;
    --shadow-low: 0px 20px 0px rgba(0, 0, 0, 0.25);
    --shadow-high: 0px 60px 0px rgba(0, 0, 0, 0.25);
    ;
}

html,
body {
    background-image: url("../images/ja-background.svg");
    background-color: var(--secondary);
    -webkit-box-shadow: inset 0px 0px 0px 8px var(--accent);
    box-shadow: inset 0px 0px 0px 8px var(--accent);
    color: var(--primary);
    font-family: var(--font-base-sans);
    box-sizing: border-box;
    overflow: scroll;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    -webkit-animation: animation 300s linear infinite;
    animation: animation 300s linear infinite;
}

@keyframes animation {
    100% {
        background-position: -2000px -3000px;
    }
}

/* fonts */

.font-display {
    font-family: var(--font-display);
}

.font-base {
    font-family: var(--font-base);
}

.font-base-sans {
    font-family: var(--font-base-sans);
}


/* page styles */

.hr {
    background-color: var(--accent);
    height: 2px;
    margin: 40px 0;
}

.profile {
    background: var(--secondary);
    border: 8px solid var(--accent);
    box-shadow: var(--shadow-high);
    padding: 80px 64px 56px;
    margin: 120px 60px;
    max-width: 1200px;
}

.heroes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -180px;
}

.pill {
    font-size: 20px;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 50px;
    padding: 24px 48px;
    margin-right: 24px;
    box-shadow: var(--shadow-low);
}

.name {
    font-weight: 900;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    border: 8px solid var(--accent);
    box-shadow: var(--shadow-low);
}

h2.title {
    font-size: 72px;
    font-weight: normal;
    margin: 0 0 30px;
}

h2 {
    font-size: 40px;
}

.smile {
    font-family: var(--font-base);
    font-size: 56px;
}

.body {
    display: flex;
}

p.bio {
    font-size: 14px;
    line-height: 150%;
    font-weight: 800;
    margin: 0 64px 0 0;
    word-spacing: .2rem;
}

.contact-text-link {
    color: var(--primary);
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
}

.contact-text-link:hover {
    color: var(--primary);
}


.contact {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
    justify-content: flex-end;
    min-width: 120px;
}

p.contact-info {
    font-size: 14px;
    line-height: 150%;
    font-weight: 800;
    word-spacing: .2rem;
}

input,
textarea {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: var(--primary);
    margin: 0;
}

textarea {
    resize: none;
    min-height: 200px;
}

input:focus,
textarea:focus {
    border: 2px solid var(--accent);
    /* border-color: var(--secondary); */
    outline: 4px;
}

.form-container {
    background-color: var(--secondary);
    border: 2px solid var(--accent);
}

.form-label {
    font-family: var(--font-display);
    font-size: 32px;
    line-height: 40px;
    color: var(--primary);
    margin: 0px;
}

.btn-custom,
.btn-custom:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--primary);
    border-radius: 36px;
    padding: 8px 32px;
    text-decoration: none;
}

.btn-custom:hover,
.btn-custom:active {
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--primary);
    border: 2px solid var(--accent);
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.links>a {
    margin: 0 0 0 24px;
}

.links>a:hover {
    opacity: .6;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transform: translate(0px, -4px);
    -ms-transform: translate(0px, -4px);
    -o-transform: translate(0px, -4px);
    -webkit-transform: translate(0px, -4px);
    transform: translate(0px, -4px);
}

.copyright {
    margin: 0;
}

.built-by {
    font-size: 12px;
    color: var(--accent);
    background-color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    padding: 8px 32px 8px 40px;
    border-top: 8px solid var(--accent);
    border-right: 8px solid var(--accent);
    border-bottom: 8px solid var(--accent);
    border-left: 8px solid var(--accent);
    border-radius: 40px 0 0 0;
    display: flex;
    align-content: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.heart {
    height: 16px;
    padding: 0 6px;
}

/* project preview styles */

.project-preview {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px 12px;
    color: var(--primary);
    text-decoration: none;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-preview::after {
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-preview:hover {
    color: var(--primary);
    text-decoration: none;
    -moz-box-shadow: inset 0 0 0 2px var(--accent);
    -webkit-box-shadow: inset 0 0 0 2px var(--accent);
    box-shadow: inset 0 0 0 2px var(--accent);
}

.project-preview:hover::after {
    opacity: 1;
}

.project-preview:visited {
    color: var(--primary);
    text-decoration: none;
}

.project-icon-container {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border-color: var(--primary);
    border: 2px solid var(--accent);
}

.project-icon {
    width: 40px;
}

.project-title {
    font-size: 28px;
    font-family: var(--font-display);
    line-height: 100%;
    max-width: 136px;
    margin: 0;
}

/* client styles */

.client-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}

/* animations */

.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Flying Object */

.flier {
    pointer-events: none;
}

.flier>* {
    /* Adjust animation duration to change the element’s speed */
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 1s;
    z-index: 0;
}

/* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

    98.001%,
    0% {
        display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }

    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }

    15.001%,
    18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }

    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }

    40.001%,
    43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }

    65% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }

    65.001%,
    68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }

    95% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
}


/* Media Queries */

/* tablet styles */
@media (max-width: 768px) {
    .heroes {
        margin-top: -160px;
    }

    .pill {
        font-size: 16px;
        padding: 24px 32px;
    }

    .profile-img {
        width: 120px;
    }

    h2.title {
        font-size: 56px;
    }

    .smile {
        font-size: 48px;
    }

    p.bio {
        font-size: 12px;
        margin: 0 32px 0 0;
    }

    .client-logo {
        height: 120px;
    }
}

/* phone styles */
@media (max-width: 576px) {

    html,
    body {
        -webkit-box-shadow: inset 0px -8px 0px 0px var(--accent);
        box-shadow: inset 0px -8px 0px 0px var(--accent);
    }

    .profile {
        padding: 100px 32px 32px;
        box-shadow: var(--shadow-low);
        margin: 30px 30px 100px;
    }

    .heroes {
        margin-top: -124px;
    }

    .pill {
        width: 100%;
        font-size: 12px;
        box-shadow: none;
        padding: 16px 24px 16px 100px;
        margin-right: 0px;
    }

    .profile-img {
        width: 80px;
        position: absolute;
    }

    h2.title {
        font-size: 32px;
        text-align: center;
        margin: 20px 0 0;
    }

    h2.subtitle {
        font-size: 32px;
        text-align: center;
        margin: 20px 0 0;
    }

    .smile {
        font-size: 28px;
    }

    .body {
        flex-direction: column;
        padding-top: 20px;
    }

    p.bio {
        font-size: 12px;
        margin: 0 0 24px 0;
    }

    .contact {
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .links {
        width: auto;
    }

    .links>a {
        margin: 0 24px 0 0;
    }

    .built-by {
        font-size: 10px;
        padding: 8px 24px 8px 32px;
        border-right: none;
    }

    .heart {
        height: 10px;
        padding: 0 6px;
    }

    .client-logo {
        height: 90px;
    }
}